<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <targets>
    <!-- 輸出至檔案的設定 -->
    <target name="TraceLog" xsi:type="File"
      fileName="${basedir}/LogFile/${shortdate}.txt"
      layout="[${longdate}][${level:uppercase=true}] ${message} - (${logger}) ${stacktrace}" />
    <target name="Log" xsi:type="File"
      fileName="${basedir}/LogFile/${shortdate}.txt"
      layout="[${longdate}][${level:uppercase=true}] ${message} - (${logger})" />
    <target name="InfoLog" xsi:type="File"
      fileName="${basedir}/LogFile/${shortdate}.txt"
      layout="[${longdate}][${level:uppercase=true}] ${message}" />

    <!-- 輸出至 Windows 事件日誌 -->
    <target name="EventLog" xsi:type="EventLog"
      source="NLogSample" log="Application"
      layout="[${longdate}][${level:uppercase=true}] ${message} - (${logger})" />

    <!-- 寄送 e-mail 的設定 -->
    
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="InfoLog" />
    <logger name="*" level="Warn" writeTo="Log" />
    <logger name="*" level="Error" writeTo="Log" />
    <logger name="*" level="Fatal" writeTo="Log" />
    <logger name="*" level="Fatal" writeTo="EventLog" />
    <logger name="*" level="Debug" writeTo="Log" />
    <logger name="*" level="Trace" writeTo="TraceLog" />
  </rules>
</nlog>