<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdaptiveCards" version="1.2.4" targetFramework="net461" />
  <package id="AdaptiveCards.Rendering.Html" version="1.2.4" targetFramework="net461" />
  <package id="AdaptiveCards.Templating" version="1.1.0" targetFramework="net461" />
  <package id="AdaptiveExpressions" version="4.9.3" targetFramework="net461" />
  <package id="Antlr4.Runtime" version="4.6.6" targetFramework="net461" />
  <package id="JmesPath.Net" version="1.0.125" targetFramework="net461" />
  <package id="JUST.net" version="4.0.2" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.MarkedNet" version="1.0.13" targetFramework="net461" />
  <package id="Microsoft.Recognizers.Text.DataTypes.TimexExpression" version="1.2.9" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json.Schema" version="3.0.10" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net461" />
</packages>