<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MySetting" value="0806449"  />
  </appSettings>

  <connectionStrings>
    <add name="MY_DB" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=MyDB;Application Name=MyDB" />
  </connectionStrings>
</configuration>